@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-neutral-900 scroll-smooth;
    @apply font-poppins;
  }

  body {
  }

  h1 {
    @apply text-5xl font-bold lg:text-7xl;
  }

  h2 {
    @apply text-3xl font-bold lg:text-5xl;
  }

  h3 {
    @apply text-xl font-bold lg:text-3xl;
  }

  h4 {
    @apply text-lg font-bold lg:text-xl;
  }

  p {
    @apply text-base lg:text-lg;
  }

  .outlined {
    outline: 1px solid red;
  }

  .mobile-nav {
    @apply fixed top-0 right-0 h-screen max-w-screen-sm min-w-full text-white transition-all opacity-0 z-[-999] bg-neutral-900 translate-x-[-100vw];
  }

  .active {
    @apply block translate-x-0 opacity-100 z-[999] lg:hidden;
  }

  header {
    /* @apply; */
  }

  .nav-wrapper {
    @apply fixed top-0 z-10 w-full bg-neutral-800;
  }

  .hero {
    @apply flex flex-col justify-between px-8 mx-auto text-white mt-28 lg:mt-52 max-w-screen-2xl lg:px-24;
  }

  main {
    @apply flex flex-col justify-between px-8 mx-auto text-white max-w-screen-2xl lg:px-24;
  }

  footer {
    @apply flex flex-col justify-between w-full px-8 pt-16 mx-auto mb-12 text-white lg:gap-12 lg:pt-20 max-w-screen-2xl lg:px-24 md:flex-row;
  }
}
